@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$header-footer-theme :#FCDD6F;
$main-theme : #FFFFFF;
$trash-theme : #E37171;
$headline-theme : #000000;
$border-theme : #C9C9C9;
$mail-theme : #C7C7C7;
$background-theme : #E5E5E5;

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0
}

html {
    font: 400 62.5% 'Roboto', sans-serif;
    min-width: 377px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    background-color: $background-theme;
}

.container {
    &-column {
      display: flex;
      flex-direction: column;
    }
    &-row {
      display: flex;
      flex-direction: row;
    }
}

.not-active {
    display: none;
}
.margin-left {
    margin-left: -60px;
}

.main {
    max-width: 377px;
    max-height: 455px;
    margin: 100px auto;
    border-top: 3px solid $headline-theme;
    overflow: hidden;
    &__header {
        background-color: $header-footer-theme;
        &-image {
            width: 50px;
            height: 49px;
            margin: 5px 0 0 163px;
        }
        &-article {
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
        }
    }
    &__user-block {
        width: 377px;
        height: 112px;
        border-bottom: 1px solid $border-theme;
        margin: 0;
        padding: 0;
        background-color: $main-theme;
        &-avatar {
            flex: none;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            margin: 20px 0 0 10px;
        }
        &-text {
            flex: none;
            width: 220px;
            margin: 25px 0 0 14px;
            &_name {
                font-size: 2.4rem;
            }    
            &_location {
                font-size: 1.4rem;
                &-text {
                    margin-left: 3px;
                }
            }
            &_mail {
                font-size: 1.4rem;
                color : $mail-theme;
                margin: 1px 0 0 0;
            }
        }
        &-arrow {
            flex: 1;
            font-size: 5em;
            margin: 25px 0 0 10px;
        }
        &-trash {
            font-size: 5em;
            width: 109px;
            height: 112px;
            background-color: $trash-theme;
            & i {
                display: flex;
                justify-content: center;   
                margin-top: 30%;
            }
        }
    }  
    &__footer {
        width: 100%;
        height: 37px;
        background-color: $header-footer-theme;
        display: flex;
        justify-content: center;
        align-items: center;
        &-text {
            font-size: 1.8rem;
            margin-left: 8px;
        }
    }   
}